.carrossel-produtos {
  background: #fff;
  overflow: hidden;
  padding: 40px 20px;
  position: relative;
  max-height: 100%;
}

/* Wrapper fixo que oculta o overflow */
.carrossel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Faixa que desliza */
.container-produtos {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: deslizar 40s linear infinite;
}

/* Remove scrollbars (caso haja) */
.container-produtos::-webkit-scrollbar {
  display: none;
}

/* Cada item do carrossel */
.produto {
  flex: 0 0 auto;
  width: 180px;
  text-align: center;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.377);
}

.produto:hover {
  cursor: pointer;
}

.produto img {
  width: 100%;
  max-height: 140px;
  object-fit: contain;
}

.produto p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

/* Animação contínua */
@keyframes deslizar {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsividade */
@media (max-width: 900px) {
  .carrossel-produtos {
    top: 23vh;
    gap: 0;
    max-height: 100%;
  }

  .produto {
    width: 140px;
  }
}

@media (max-width: 488px) {
  .carrossel-produtos {
    max-height: 100%;
  }
}
