.footer {
  background-color: #243c5a; /* Azul mais escuro e agradável */
  color: white;
  padding: 30px 10px 10px;
  font-size: 14px;
}

.footer-conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
}

.footer h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.icones-pagamento img,
.redes-sociais img,
.selo img {
  width: 40px;
  margin: 5px;
}

.selo img {
  width: 120px;
  margin: 0;
}

.selo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contato-itens p,
.info-loja p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.redes-sociais {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.redes-sociais img {
  width: 24px;
  transition: transform 0.3s ease;
}

.redes-sociais img:hover {
  transform: scale(1.1);
}

.direitos {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}

.info-loja {
  margin-top: 10px;
  font-size: 13px;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-conteudo {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 30px;
  }

  .selo-confianca {
    display: none;
  }

  .contatof {
    width: 100%;
    order: 1;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contato-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1px;
  }

  .redes-sociais {
    justify-content: center;
    margin-top: 10px;
  }

  .pagamentos {
    width: 100%;
    order: 2;
    text-align: center;
    margin-top: 10px;
  }

  .info-loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1px;
  }
}