.footer {
    background-color: #2c5781;
    color: white;
    padding: 1px;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .footer h4 {
    font-size: 16px;
    margin-bottom: 1px;
  }
  
  .icones-pagamento i,
  .redes-sociais i {
    font-size: 24px;
    margin: 0 8px;
    flex-direction: column;
  }
  
  .selo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .selo i {
    font-size: 20px;
    margin-right: 8px;
  }
  
  .contato-itens p {
    margin: 5px 0;
  }
  
  .redes-sociais {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
  }
  
  .redes-sociais a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .redes-sociais a:hover {
    color: #ffffff;
  }
  
  
  .direitos {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    font-size: 13px;
  }
  
  /* Responsivo */
  @media (max-width: 600px) {
    .footer-conteudo {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .footer{
      margin-top: 35vh;
    }
  }

  @media (max-width: 488px){
    .footer {
       
      max-height: 30vh;
    }
  }
  